<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">PWD Job Portal</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.jobs') }}">Jobs</a>
                </li>
                {% if current_user.is_authenticated and current_user.user_type == 'job_seeker' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.job_matching_game') }}">Matching Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.my_matches') }}">My Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.my_applications') }}">Applications</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
